header {
  background-color: #7786a3;
  height: 100px;
  padding: 0px 50px 30px 300px;
  margin-top: 0;
}
.headerh1 {
  margin: 0;
}
#sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
#sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
}
#sidebar a:hover {
    color: #f1f1f1;
}
#current_page {
  color: blue!important;
}
body {
  margin:0;
}
