body {
  margin:0;
  font-family: Verdana, Geneva, sans-serif;
  /* padding-bottom: 70px; */
}
header {
  background-color: black;
  height: 40px;
  padding-top: 10px;
  width:100%;
  margin-top: 0;
  top: 0;
  color: white;
}
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  color: white;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
    color: rgba(238, 188, 176, 0.93);
}

ul {
  list-style-type: none;
}

.headerh1{
  margin: 0;
  margin-left: 10px;
}
#sidebar {
    /* height: 100%; */
    width: 200px;
    /* position: fixed; */
    float:left;
    z-index: 1;
    top: 70;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    margin-bottom: 70px;
}
#sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}
#sidebar a:hover {
    color: #f1f1f1;
}

#sidebar img {
  margin-left: 20px;
}
#current_page {
  color: blue!important;
}

#mainslideshow {
  box-sizing: border-box;
}

#adminlogo li{
  margin: 10px;
}

.mySlides {
  display: inline-block;
}
img {
  vertical-align: middle;
}
.indexbody {
  margin: auto;
  margin-left: 200px;
  padding-bottom: 80px;
}
.indextext{
  max-width: 1200px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  height: auto;
  position: relative;
  /* margin: auto; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #adadad;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.slideimg {
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dotalign {
  text-align:center;
}
.loginform{
  margin-left: 10px;
  padding-top: 5px;
}

.eventform{
  margin-left: 250px;
  padding-top: 5px;
  width: 520px;
}

.loginform input[type=text], input[type=password], select, option {
    /* width: 100%; */
    padding: 5px;
    width: 200px;
    /* border: 1px solid #ccc; */
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=date], input[type=time] {
  padding: 5px;
  width: 198px;
  /* border: 1px solid #ccc; */
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
  resize: vertical;
}
.simple {
  all: unset;
  /* width: 100%; */
  padding: 5px;
  /* border: 1px solid #ccc; */
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
}
.eventform input[type=text], select, option, textarea {
    /* width: 100%; */
    padding: 5px;

    width: 400px;
    /* border: 1px solid #ccc; */
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    resize: vertical;
}

.eventform input[type=file] {
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button, input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.loginform button, input[type=submit]:hover {
    background-color: rgba(#000000, 0.87);
}

.loginform .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding-left: 5px;
    padding-top: 0px;
}

img.logo {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 75px;
  background-color: grey;
  position: relative;
}

#about_1 {
  margin-left: 240px;

}
#about_2 {
  margin-left: 240px;
  margin-bottom: 70px;
}
.team_imgs {
  height: 100px;
  width: 100px;
}

div.content {
  padding-left: 250px;
}
#logout {
  margin-left: 250px;
}


.show_events {
  padding-left: 250px;
  padding-right: 80px;
  padding-bottom: 70px;
  padding-top: 50px;
}

.event_form {
  padding-left: 0;
  padding-right: 80px;
  padding-bottom: 0px;
  padding-top: 50px;
  /* width: 600px; */
}

/* Table Stylings */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  border: none;
}

td,th{
  /* border: 1px solid; */
  /* border-color: #3498db; */
  border-top: 1px solid;
  text-align: center;
  padding: 10px;
  /* width: 100%; */
}

.blogs {
  margin-left: 250px;
  margin-bottom: 70px;
}
.blogpost {
  border-radius: 25px;
  border: 2px solid black;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
}


#applyFORM {
  margin: auto;

    width: 60%;

    border: 3px solid red;
    padding: 10px;
    margin-bottom: 64px;
}

#resumeText {
height: 200px;
width: 500px;

    width: 40%;

    border: 3px solid red;
    padding: 10px;
}
.block {
  display: inline-block;
  padding: 20px;
  width: 450px;
  max-width: 450px;
  min-height: 470px;
  max-height: 470px;
  vertical-align: top;
}
.block img{
  width: auto;
  max-width: 450px;
  height: auto;
  max-height: 280px;
}
.block img:hover {
  opacity: .8;

}

td .name {
  width: 10%;
}
td .date_time {
  width: 20%;
}
td .address {
  width: 20%;
}
td .description {
  width: 30%;
}
td .apply {
  width: 10%;
}


.links {
  text-decoration: none;
}
.edit_links {
  text-decoration: none;
  border-radius: 2px;
  background-color: coral;
  height: 50px;

}
.blog_title {
  font-family: 'Times New Roman', Times, serif;
}
.intros {
  margin-right: 400px;
}
