# Ignore all files, except .gitignore files.
*
!.gitignore


# Example: uploads sub-folder "box" for table "boxes"

# Tell Git to NOT ignore your upload folders that correspond with your DB tables,
# Then tell Git to ignore all files in those folders
!/pictures/
/pictures/*
!/events/
/events/*

# Tell Git to NOT ignore your EACH seed file in your your upload folders.
!/box/1.pdf
!/pictures/bald-eagle.jpg
!/pictures/bald-eagle-1.jpg
!/pictures/bird.jpg
!/pictures/blackbirds.jpg
!/pictures/camel.jpg
!/pictures/felted-sheep.jpg
!/pictures/David.png
!/pictures/Frank.png
!/pictures/Mun.png
!/pictures/Double.png
