# Ignore all files, except .gitignore files.
*
!.gitignore


# Example: uploads sub-folder "box" for table "boxes"

# Tell Git to NOT ignore your upload folders that correspond with your DB tables,
# Then tell Git to ignore all files in those folders
!/pictures/
/pictures/*
!/events/
/events/*
!/logo/
/logo/*
!/events/logo.png
!/logo/logo.png

# Tell Git to NOT ignore your EACH seed file in your your upload folders.
!/box/1.pdf
!/pictures/image1.jpg
!/pictures/image2.jpg
!/pictures/image3.jpg
!/pictures/image4.jpg
!/pictures/camel.jpg
!/pictures/felted-sheep.jpg
!/pictures/David.png
!/pictures/Frank.png
!/pictures/Mun.png
!/pictures/Double.png
!/pictures/icon.png
